.col{
    margin: 10px;
    width: 400px;
    height: 800px;
    border: 1px solid black;
}
.row-col {
    display: flex;
    justify-content: center;
}
.cardOne {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
}
.forms-create-card{
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
    height: 230px;
}
.text-form-card{
    display: flex;
    flex-direction: column;
}
textarea{
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    resize: none;
}
input{
    margin-top: 10px;
}
#title{
    margin-bottom: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
}
